.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task{
    color: #1fad1f;
}

.incomplete-task{
    color: #a81515;
}

i{
    cursor: pointer;
}

.center-button{
    text-align: center;
}

.input-field{
    margin: 0 auto;
    width: 75%;
}